body{
	background: no-repeat url(images/Background.png);
	background-color: #019A7D;
	margin: 0;
	background-size: cover;
	font-family: Roboto;
}

.wrapper{
	margin: 129px 70px 0 103px;
	position: relative;
}

.wrapper_active{
	display: none;
}

.title{
	margin: 0 0 8px 0;
	font-weight: 700;
	font-size: 57px;
	color: white;
}

.subtitle{
	padding-left: 1px;
	margin: 0 0 59px 0;
	font-weight: 700;
	font-size: 19px;
	color: white;
}

.subtitle span{
	font-weight: 400;
}

.level{
	display: flex;
	flex-direction: column;
	margin: 0 0 112px 48px;
	font-weight: 700;
	font-size: 50px;
	color: white;
	width: 250px;
}

.level__choose{
	position: relative;
	margin: 0 0 23px 0;
	cursor: pointer;
	transition: opacity .2s ease-out;
}

.level__choose:last-child {
	margin: 0;
	cursor: pointer;
}

.level__choose:hover{
	opacity: 0.7;
}

.level__choose:hover::after {
	position: absolute;
	content: '';
	width: 18px;
	height: 18px;
	left: -45px;
	top: calc(50% - 7px);
	background: #d62b2e;
	transform: rotate(45deg);
}

.active_level::after {
	position: absolute;
	content: '';
	width: 18px;
	height: 18px;
	left: -45px;
	top: calc(50% - 7px);
	background: #d62b2e;
	transform: rotate(45deg);
}

.main_button{
	color: white;
	background-color: #D62B2E;
	padding: 29px 83px;
	font-weight: 700;
	font-size: 31px;
	border-radius: 7px;
	border: none;
	cursor: pointer;
	margin: 0 0 305px 0;
	transition: .5s ease-out;
	box-shadow: 
}

.main_button:hover{
	color: #d62b2e;
	background-color: white;
}


.cards{
	position: absolute;
	background: no-repeat url(images/cards.png);
	width: 515px;
	height: 407px;
	top: 42.5%;	
	right: 0;
}

.game_field {
	display: none;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
	height: 100vh;
}

.normal {
	max-width: 58.5%;
}

.hard {
	max-width: 100%;
}

.flip_card {
	background-color: transparent;
	width: 218px;
	height: 341px;	
	margin: 12px;
}

.flip_card__inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform .5s;
	transform-style: preserve-3d;
	border-radius: 10px;
}

.flip_card__front, .flip_card__back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	border-radius: 10px;
}

.flip_card__front {
	background: no-repeat url('images/front.png');
	background-size: cover;
}

.flip_card__front:hover {
  will-change: transform;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
  transform: translateY(-30px) rotateZ(-2deg);
  transition: transform .8s;
  transform-style: preserve-3d;
}

.flip_card__back {
	background: no-repeat url('images/back.png');
	transform: rotateY(180deg);
	background-size: cover;
}

.flip_bugcard__back {
	position: absolute;
	background: no-repeat url('images/backBUG.png');
	background-size: cover;
	transform: rotateY(180deg);
}

.rotate {
	transform: rotateY(180deg);
}





